Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny, build-paper

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- 
        language: system
        types: [file, rust]
        pass_filenames: true
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -D clippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo deny
        language: rust
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--all-features", "check"]
  - repo: https://github.com/hukkin/mdformat
    rev: 0.7.21  # Use the ref you want to point at
    hooks:
      - id: mdformat
        args: ["--wrap", "120"]
        additional_dependencies:
          - mdformat-gfm
  - repo: local
    hooks:
      - id: build-paper
        name: Build paper
        description: Build the paper
        entry: bash -c 'cd paper && ./build.sh'
        language: system
        pass_filenames: false
        files: ^paper/.*\.(md|bib|svg)$

Make stitch op
  src/graph_operators.rs
Due: rustfmt, rust-clippy

Another comment
  src/graph_operators.rs
Due: rustfmt, rust-clippy

Initial stuff
  src/graph_operators.rs
  src/models/block_group.rs
  src/test_helpers.rs
Due: rustfmt, rust-clippy

Add make stitch operation
  src/graph_operators.rs
  src/models/block_group_edge.rs
  src/models/edge.rs
Due: rustfmt, rust-clippy

Address comments
  src/graph_operators.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Add flag to export multiple paths for fasta
  src/exports/fasta.rs
  src/main.rs
Due: rustfmt, rust-clippy

Just use --all-paths for now
  src/exports/fasta.rs
  src/main.rs
Due: rustfmt, rust-clippy

python bindings for db query and layouts
  .gitignore
  Cargo.lock
  Cargo.toml
  build_python.sh
  pyproject.toml
  python/demo_notebook.ipynb
  python/gen/__init__.py
  python/gen/helpers.py
  python/python/gen/__init__.py
  python/requirements.txt
  python/test_bindings.py
  src/lib.rs
Due: rustfmt, rust-clippy, cargo-deny

Fix tests
  fixtures/gffs/simple.gff3
  src/translate.rs
  src/translate/bed.rs
  src/translate/gff.rs
  src/translate/test_helpers.rs
Due: rustfmt, rust-clippy

Repository & Graph python bindings
  Cargo.lock
  Cargo.toml
  python/demo_notebook.ipynb
  python/gen/__init__.py
  python/gen/helpers.py
  python/python/gen/__init__.py
  python/visualization_example.ipynb
  src/graph.rs
  src/lib.rs
  src/views/block_group.rs
  src/views/block_layout.rs
Due: rustfmt, rust-clippy, cargo-deny

remove print
  src/translate/gff.rs
Due: rustfmt, rust-clippy

Add error handler
  src/main.rs
Due: rustfmt, rust-clippy

Change BlockGroup methods to use self, and improve error handling for related methods
  src/fasta.rs
  src/imports/fasta.rs
  src/lib.rs
  src/main.rs
  src/models.rs
  src/models/block_group.rs
  src/models/operations.rs
  src/operation_management.rs
  src/patch.rs
  src/updates/fasta.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy

comment
  src/translate/bed.rs
  src/translate/gff.rs
Due: rustfmt, rust-clippy

Fixes
  src/models.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

lots of work
  Cargo.lock
  Cargo.toml
  build_python.sh
  python/demo_notebook.ipynb
  python/gen/__init__.py
  python/gen/helpers.py
  src/config.rs
  src/lib.rs
  src/main.rs
  src/python_api.rs
  src/python_api/block_group.rs
  src/python_api/converters.rs
  src/python_api/factory.rs
  src/python_api/layouts.rs
  src/python_api/repository.rs
  src/python_api/utils.rs
Due: rustfmt, rust-clippy, cargo-deny

Cleanup
  src/imports/fasta.rs
Due: rustfmt, rust-clippy

Ran cargo upgrade
  Cargo.lock
  Cargo.toml
  deny.toml
Due: cargo-deny

Testing if locking paste still causes security error
  deny.toml
Due: none

Keeping config
  deny.toml
Due: none

Fix tests
  src/imports/genbank.rs
  src/updates/genbank.rs
Due: rustfmt, rust-clippy

updated dependencies and cleaned up conditional compilation
  Cargo.lock
  Cargo.toml
  deny.toml
  python/visualization_example.ipynb
  src/annotations/gff.rs
  src/main.rs
  src/python_api.rs
  src/python_api/block_group.rs
  src/python_api/factory.rs
  src/python_api/layouts.rs
  src/python_api/repository.rs
  src/python_api/utils.rs
Due: rustfmt, rust-clippy, cargo-deny

Squashed changes
  .gitignore
  Cargo.lock
  Cargo.toml
  build_python.sh
  pyproject.toml
  python/demo_notebook.ipynb
  python/gen/__init__.py
  python/requirements.txt
  python/test_bindings.py
  src/config.rs
  src/graph.rs
  src/lib.rs
  src/main.rs
  src/python_api.rs
  src/python_api/block_group.rs
  src/python_api/converters.rs
  src/python_api/factory.rs
  src/python_api/layouts.rs
  src/python_api/repository.rs
  src/python_api/utils.rs
  src/views/block_group.rs
  src/views/block_layout.rs
Due: rustfmt, rust-clippy, cargo-deny

redundant cfg attribute
  src/python_api/repository.rs
Due: rustfmt, rust-clippy

redundant cfg attribute
  src/python_api/converters.rs
  src/python_api/layouts.rs
Due: rustfmt, rust-clippy

point build script at tests
  build_python.sh
Due: none

fix tests
  python/test_bindings.py
  src/config.rs
Due: rustfmt, rust-clippy

Typo build_python.sh
  build_python.sh
Due: none

repository::new signature
  python/test_bindings.py
  src/python_api/repository.rs
Due: rustfmt, rust-clippy

cargo unit tests
  Cargo.lock
  Cargo.toml
  build_python.sh
  python/demo_notebook.ipynb
  python/test_bindings.py
  src/config.rs
  src/python_api/repository.rs
  src/test_helpers.rs
Due: rustfmt, rust-clippy, cargo-deny

conditional compilation leftover
  src/python_api/repository.rs
  src/test_helpers.rs
Due: rustfmt, rust-clippy

makefile & other PR comments
  Makefile
  build_python.sh
  pyproject.toml
  python/demo_notebook.ipynb
  src/python_api.rs
  src/python_api/converters.rs
  src/python_api/repository.rs
Due: rustfmt, rust-clippy

pyO3 extension-module (compliance + portability)
  Cargo.toml
  Makefile
  deny.toml
  python/demo_notebook.ipynb
  src/test_helpers.rs
Due: rustfmt, rust-clippy, cargo-deny

Fix minor command bugs
  src/imports/gfa.rs
  src/main.rs
Due: rustfmt, rust-clippy

Clarifications
  src/imports/gfa.rs
  src/main.rs
Due: rustfmt, rust-clippy

Improvements for json view of items
  src/graph.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

prototyping graph layouts in python to test & expand bindings
  Cargo.toml
  Makefile
  deny.toml
Due: cargo-deny

prototyping graph layouts in python to test & expand bindings
  python/examples/prototyping/__init__.py
  python/examples/prototyping/edge_routing.py
  python/examples/prototyping/mod.py
  python/examples/prototyping/modified_anderson.gfa
  python/examples/prototyping/proto_notebook.ipynb
  python/requirements.txt
  src/python_api.rs
  src/python_api/block_group.rs
  src/python_api/factory.rs
  src/python_api/layouts.rs
  src/python_api/node_key.rs
  src/views/block_layout modified.rs
  src/views/block_layout original.rs
Due: rustfmt, rust-clippy

Misc changes
  fixtures/simple.vcf
  src/main.rs
  src/models/operations.rs
  src/operation_management.rs
  src/updates/vcf.rs
  src/views/patch.rs
Due: rustfmt, rust-clippy

refine
  fixtures/simple2.vcf
  src/operation_management.rs
  src/translate/bed.rs
  src/translate/gff.rs
  src/updates/vcf.rs
Due: rustfmt, rust-clippy
