Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny, build-paper

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all --
  language: system
  pass_filenames: true

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -D clippy::all
  pass_filenames: false
  language: system

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo deny
  language: rust
  pass_filenames: false
  args:
  - --all-features
  - check

build-paper:
  name: Build paper
  description: Build the paper
  entry: bash -c 'cd paper && ./build.sh'
  language: system
  pass_filenames: false

Updated paper
  paper/main.pdf
Due: none

Remove mdformat
  .pre-commit-config.yaml
  paper/main.md
  paper/main.pdf
Due: build-paper

notebook
  examples/yeast_crosses/Analysis.md
Due: none

Add command to update with GFA
  src/gfa.rs
  src/imports/gfa.rs
  src/main.rs
  src/updates.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Add unit test for processing walks, and rename GFA parsing field names that were poorly named
  fixtures/walk-diff.gfa
  src/gfa_reader.rs
  src/imports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Final improvements
  src/gfa_reader.rs
  src/imports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Fix after rebase
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Fixes after testing with e coli parent/child
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Address comments
  fixtures/path-diff.gfa
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Use unmatched path name as part of node hash
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Lazy default evaluation
  src/exports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Remove check on block count
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Minor improvements
  src/graph.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Add command for derive subgraph
  src/graph_operators.rs
  src/lib.rs
  src/main.rs
  src/models/file_types.rs
Due: rustfmt, rust-clippy

Initial code and unit tests
  src/graph.rs
  src/imports/gfa.rs
  src/models/block_group.rs
  src/models/edge.rs
Due: rustfmt, rust-clippy

Some comments
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Guardrails
  S288C_reference_sequence_R64-1-1_20110203.fsa
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Delete extraneous file
  out.gfa
Due: none

WIP to replace xy zoom to get the coordinates to line up properly
  src/views/block_group.rs
Due: rustfmt, rust-clippy

Mostly fixed
  src/views/block_group.rs
Due: rustfmt, rust-clippy

Add in graph update figure
  paper/graph_updates/final.svg
  paper/graph_updates/gen_graph.svg
  paper/main.md
  paper/main.pdf
Due: build-paper

More figures
  paper/import_example/text.md
  paper/main.md
  paper/main.pdf
  paper/vcf_example/example.vcf
  paper/vcf_example/final.svg
  paper/vcf_example/graph.svg
  paper/vcf_example/text.md
Due: build-paper

update fig
  paper/main.pdf
  paper/vcf_example/final.svg
Due: build-paper

Gaf figure
  paper/gaf_example/final.svg
  paper/main.md
  paper/main.pdf
Due: build-paper

Only copy block group to be derived
  src/graph_operators.rs
Due: rustfmt, rust-clippy

Add operation figure
  paper/main.md
  paper/main.pdf
  paper/operations_view/final.svg
  paper/operations_view/operations.dot
  paper/operations_view/operations.png
  paper/operations_view/operations.svg
Due: build-paper

Fix text
  paper/gaf_example/final.svg
  paper/main.md
  paper/main.pdf
Due: build-paper

Simplify gaf example
  paper/gaf_example/final.svg
  paper/main.pdf
Due: build-paper

Fix fig
  paper/graph_updates/final.svg
  paper/main.pdf
Due: build-paper

text
  paper/main.md
  paper/main.pdf
Due: build-paper

Print if no operation is found
  src/main.rs
Due: rustfmt, rust-clippy

Update edge
  src/diffs/gfa.rs
  src/exports/gfa.rs
  src/gfa.rs
Due: rustfmt, rust-clippy

Path conditions:
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
  build-paper: any of: ^paper/.*\.(md|bib|svg)$
