Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny, build-paper

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        description: Check if all files follow the rustfmt style
        entry: cargo fmt --all -- 
        language: system
        types: [file, rust]
        pass_filenames: true
      - id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -D clippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
      - id: cargo-deny
        name: check Cargo dependencies
        description: check Cargo dependencies
        entry: cargo deny
        language: rust
        types: [file, toml]
        files: Cargo\.(toml|lock)
        pass_filenames: false
        args: ["--all-features", "check"]
  - repo: https://github.com/hukkin/mdformat
    rev: 0.7.21  # Use the ref you want to point at
    hooks:
      - id: mdformat
        args: ["--wrap", "120"]
        additional_dependencies:
          - mdformat-gfm
  - repo: local
    hooks:
      - id: build-paper
        name: Build paper
        description: Build the paper
        entry: bash -c 'cd paper && ./build.sh'
        language: system
        pass_filenames: false
        files: ^paper/.*\.(md|bib|svg)$

simplify
  src/exports/gfa.rs
Due: rustfmt, rust-clippy

Docker build
  Dockerfile
  Makefile
Due: none

Merge apt commands
  Dockerfile
Due: none

Merge rollback and operation handling
  src/main.rs
  src/operation_management.rs
  src/patch.rs
Due: rustfmt, rust-clippy

Open txs
  src/main.rs
Due: rustfmt, rust-clippy

algo complete
  python/prototyping/rf83_bvh.py
  python/prototyping/test_rf83_bvh.py
Due: none

bugfix
  python/prototyping/rf83_bvh.py
  python/prototyping/test_rf83_bvh.py
Due: none

text output
  python/prototyping/rf83_bvh.py
Due: none

horizontal text
  python/prototyping/rf83_bvh.py
Due: none

Check for equal branch in merge logic
  src/main.rs
  src/operation_management.rs
Due: rustfmt, rust-clippy

major refactor
  python/prototyping/rectilinear_edges.py
  python/prototyping/rf83_bvh.py
  python/prototyping/rf83_cursor.py
  python/prototyping/test_rf83_bvh.py
Due: none

First pass at command rework
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  src/commands/cli_context.rs
  src/commands/import/fasta.rs
  src/commands/import/mod.rs
  src/commands/mod.rs
  src/lib.rs
  src/main.rs
Due: rustfmt, rust-clippy, cargo-deny
