Repository ginkgobioworks/gen: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, rust-clippy, cargo-deny, build-paper

rustfmt:
  name: rustfmt
  description: Check if all files follow the rustfmt style
  entry: cargo fmt --all --
  language: system
  pass_filenames: true

rust-clippy:
  name: Rust clippy
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: cargo clippy --all-targets --all-features -- -D clippy::all
  pass_filenames: false
  language: system

cargo-deny:
  name: check Cargo dependencies
  description: check Cargo dependencies
  entry: cargo deny
  language: rust
  pass_filenames: false
  args:
  - --all-features
  - check

build-paper:
  name: Build paper
  description: Build the paper
  entry: bash -c 'cd paper && ./build.sh'
  language: system
  pass_filenames: false

Address comments
  fixtures/path-diff.gfa
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Lazy default evaluation
  src/exports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Publish metadata
  Cargo.lock
  Cargo.toml
Due: cargo-deny

Final improvements
  src/gfa_reader.rs
  src/imports/gfa.rs
  src/updates/gfa.rs
Due: rustfmt, rust-clippy

Some comments
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Minor improvements
  src/graph.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Remove check on block count
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Initial code and unit tests
  src/graph.rs
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Guardrails
  S288C_reference_sequence_R64-1-1_20110203.fsa
  src/models/block_group.rs
Due: rustfmt, rust-clippy

Delete extraneous file
  out.gfa
Due: none

Only copy block group to be derived
  src/graph_operators.rs
Due: rustfmt, rust-clippy

Fixed alignment problem
  src/imports/gfa.rs
  src/views/block_group.rs
Due: rustfmt, rust-clippy

zoom working better
  src/views/block_group.rs
Due: rustfmt, rust-clippy

Refactored completely to keep layout state
  .gitignore
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/views/block_group.rs
Due: rustfmt, rust-clippy, cargo-deny

Keyboard controls
  src/views/block_group.rs
Due: rustfmt, rust-clippy

clippy fixes
  src/views/block_group.rs
Due: rustfmt, rust-clippy

Address comments
  src/graph_operators.rs
  src/models/block_group.rs
  src/models/block_group_edge.rs
Due: rustfmt, rust-clippy

Line clipping
  src/views/block_group.rs
Due: rustfmt, rust-clippy

Remove unused text.md
  paper/dot_example/text.md
  paper/gaf_example/text.md
  paper/graph_model/text.md
  paper/graph_updates/text.md
  paper/operations_view/text.md
  paper/vcf_example/text.md
Due: build-paper

Use python for cross platform
  bin/benchmark.sh
Due: none

Fix tests
  src/views/block_group.rs
Due: rustfmt, rust-clippy

4 decimals
  bin/benchmark.sh
Due: none

python for time
  bin/benchmark.sh
Due: none

Add test for paths that don't start or end on node boundaries
  src/models/path.rs
Due: rustfmt, rust-clippy

Fix test
  src/graph_operators.rs
Due: rustfmt, rust-clippy

Add command, and create default path
  src/imports/library.rs
  src/main.rs
Due: rustfmt, rust-clippy

Fix bugs
  out.gfa
  src/imports/library.rs
Due: rustfmt, rust-clippy

Add code for importing a combinatorial library
  fixtures/affix_layout.csv
  fixtures/affix_parts.fa
  src/imports.rs
  src/imports/library.rs
Due: rustfmt, rust-clippy

Add fixtures for library import
  fixtures/affix_layout.csv
  fixtures/affix_parts.fa
Due: none

Oops, delete
  out.gfa
Due: none

Update completion message
  src/imports/library.rs
Due: rustfmt, rust-clippy

Add user execution permission on benchmark script
  bin/benchmark.sh
Due: none

separated into modules
  src/views.rs
  src/views/block_group.rs
  src/views/block_group_viewer.rs
  src/views/block_layout.rs
Due: rustfmt, rust-clippy

stack safety
  src/views/block_group.rs
Due: rustfmt, rust-clippy

cleaning imports
  src/views/block_group.rs
  src/views/block_group_viewer.rs
Due: rustfmt, rust-clippy

Restore gfa.rs
  src/imports/gfa.rs
Due: rustfmt, rust-clippy

Bugfix
  src/views/block_group_viewer.rs
Due: rustfmt, rust-clippy

Path conditions:
  rustfmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock) and \.toml$
  build-paper: any of: ^paper/.*\.(md|bib|svg)$
